/* box-model */
/* content, padding, border, margin */


/* display */
/* block, inline, inline-block, flex */

/* flex */

/* colors */
/* border, text, background */

/* tag, class, id */
/* h1, .className , #idName */


/* types of selection */
/* input::placeholder{

}

input[type='text']{

} */

/* overflow */

/* pseudo-classes */
/* :hover, :active, :selected, :link */

/* media-query */

/* animations adn transitions */