*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

#navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 10% 1% 5%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    
}

.logo{
    width: 20%;
}

#list{
    display: flex;
    list-style: none;
    gap: 30px;
}

#list li{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
}

#banner{
    width:100%;
}

#banner img{
    width: 100%;
}


#Process{
    border: 2px solid red;
    height: 20vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.process{
    border: 2px solid red;
    transform: rotate(-90deg);
    display: inline-block;
    position: relative; 
    top: 30%;
    left: -0.2%;
}