 
 html,body{
    margin: 0%;
    padding: 0%;
 }
 img{
    width: 10%;
    height: 10%;
    margin-left: 50px;
    margin-top: 5px;
 }

 html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        /* Nav styles: Now right-aligned with flex-end */
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end; /* This aligns items to the right */
            background-color: #333;
        }
        nav li {
            margin: 0;
        }